{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "quotes": "off",
        "no-console": "off",
        "no-unreachable": "off",
        "no-redeclare": "warn",
        "indent": "off",
        "semi": 0,
        "space-before-function-paren": 0,
        "comma-dangle": 0,
        "no-unused-vars": 0
    }
//    "parser": "babel-eslint"
}
